<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="KafkaInstallationDirectory" value="C:\ecommerce\kafka_2.11-0.10.1.0" />

    <!-- needs to be aligned with ZooKeeper configuration -->
    <add key="ZooKeeperHost" value="127.0.0.1" />
    <add key="ZooKeeperPort" value="2181" />

    <!-- timeout in seconds. The service will wait for port connectivity to be detected before claiming service has started. -->
    <add key="ZooKeeperConnectTimeout" value="10" />
    <add key="ZooKeeperMaxConnectAttemptCount" value="3" />
  </appSettings>
</configuration>